{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Immigration in the EU/AU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'essay.css' %}">
  </head>
  <body>
    <a href="{% url 'mainPage' %}">
    <h1>Essay on Immigration Facts</h1>
    </a>
    <div class="essay">
    <p>What is the European Union and the African Union? Although the EU is more widely
known, the AU took its roots from the Organization of African Unity formed on the 25th of May
1963 while the EU was only formed on the 1st of November, 1993, almost 30 years later
(Muhammad, 2013). The AU changed its name in 2001, adding more counsels and communities
due to the ratification of the current 54 African states (Economic Affairs Department, 2019).
While both organizations promote the unity of their member states, they have very different
histories and guiding principles.</p>

<p>The EU was created to end the constant wars between countries which had ultimately
resulted in World War II (The Official Website of the European Union, 2016). The EU began
with the coal and steel communities in Europe integrating so that the founding countries were
economically dependent on each other—if one went down, the others went down with it. In
1957, the Treaty of Rome created the European common market between Belgium, France,
Germany, Italy, Luxembourg, and the Netherlands (The Official Website of the European Union,
2016).</p>

<p>The EU conjoins the various economies of member countries into one (the Eurozone) as
well as allows for freedom of movement throughout member states (The Official Website of the
European Union, 2016). Although the EU does have a meeting of representatives from most
member countries to form general economic laws, their politics and welfare states are not
integrated (Boswell, 2003). Their economies were joined by the common currency—the Euro—
on the 1st of January 1999, but there was free-movement between boarders even before that in
1992 after the Treaty of Maastricht (The Official Website of the European Union, 2016b).
However, according to the IMF, as of 2018, the United States’ Gross Domestic Product (GDP)
was growing by 2.9% while the EU’s was growing by 2.2% (“World Economic Outlook
(October 2019)—GDP, current prices,” n.d.). This is commonly listed as the major benefit of the
EU—that it prevented the smaller countries’ economies from being swallowed by the US
economy after World War II.</p>

<p>Since joining creating the boarders that were more fluid in 1992, the EU’s policies on
freedom of movement have evolved from freedom to move between countries to holding a
passport with EU citizenship approval. For most countries, joining the EU results in new
passports being issued that recognize the citizen as both a citizen of their country of origin as
well as a citizen of the EU (Lipsmeyer & Zhu, 2011). This means that while still being a citizen
of one country, one may immigrate to another country for work, retirement, or just a change of
scenery.</p>

<p>The number of countries who are apart of the EU is a complicated issue. The EU is
divided into different sectors—the European Economic Area, the EU, and the Eurozone—none
of which include all the same countries ( The Official Website of the European Union, 2016b). In
addition to this, several EU countries still hold overseas territories that, in general, allow for EU
citizenship, but do not allow members of countries in Europe to live abroad in those states, nor
do those states participate in EU law making or the use of the Euro (STAS, 2019). The European
Economic Area allows for free-trade, the EU contains countries who are allowed to give their
citizens EU membership and freedom of movement, and finally, the Eurozone is where the Euro
is circulated.</p>

<p>While the EU are joined economically and have a regular meeting of political
representatives, they do not share the same economy or political systems. This creates problems
in certain countries do to the welfare benefits of certain states in combination with the freedom
of movement policy. In a 2011 study of immigration impacts on political institutions in EU
countries, Christine Lipsmeyer and Ling Zhu discovered that in countries with an already high
welfare state, immigration causes unemployment to increase in those countries. This results in
policy-makers increase of the welfare state, causing a vicious cycle (2011).</p>

<p>In Africa, development has been slow and had its ups and does. The EU and AU do work
together in what is called the Joint Africa-EU Strategy adapted in 2007 (Pirozzi & Manager,
n.d.). In 2015 this partnership was again renewed in which they put together a new framework
between the two continental groups called the Partnership on Africa’s Integration and
Development Agenda (Regional Coordination Mechanism for Africa, 2015). </p>
<p>The EU and AUrepresentatives generally meet every 3 years, alternated between locations in Africa and Europe.
Because of the history between the two continents, meetings also involve third-party members of
non-state organizations such as civil society organizations, youth organizations, and academic
institutions. The majority of conversations between the EU and the AU revolve around funding
for political agendas and development (Regional Coordination Mechanism for Africa, 2015).</p>

<p>The AU has a longer history than the EU in regard to its roots. After World War II,
Europe could no longer keep its control over the African colonies. With news streaming into
Africa, the people saw that Europe was at a breaking point after calling in soldiers from the
colonies to fight in a war they weren’t involved in. This created a sense of unity amongst the
African colonies and a desire to regain African independence (Padelford, 1964). This was the
beginning of Pan-Africanism which, after the first several African countries gained their
independence, resulted in the Organization of African Unity (OAU) (D’Sa, 1983). After the
formation of the OAU on the 25th of May 1963, the organization’s main goals, according to
Muhammad Gassama, a previous French/Arab/English translator within the OAU, were to create
a common market, a unified government, and ultimately the United States of Africa after fighting
to gain independence of the current 54 African states and end apartheid (2013).</p>
<p>The first big push cited by Muhammad Gassama for economic development was the
Abuja Treaty (Muhammad, 2013). The Abuja Treaty established the African Economic
Community (AEC) to be achieved through dividing economic development plans among various
regions that all struggle in similar areas. These are called Regional Economic Communities
(RECs) (Economic Affairs Department, 2019).</p>
<p>The principle stages for these economic communities were to establish and strengthen
existing regional economic communities, Eliminate tariffs and non-tariff barriers throughout the
continent, to create an inter-regional economic community, free-trade area and customs union,
thus resulting in a continental customs union, to create a common market, and finally, to create a
pan-African monetary and economic union (Economic Affairs Department, 2019).</p>

<p>After the Abuja Treaty, the economic goals of the OAU were fairly clear, yet the
government structure of the OAU had gone through some major changes with the liberation of
many African states, calling for a structural change in the organization. Colonel Muammar
Gaddafi, the Secretary General in 2003, suggested that the structural reorganization model the
EU’s success rather than waste time deciphering the intricacies a more complex organization to
accommodate the increase of states (Muhammad, 2013).</p>

<p>There are 8 Regional Economic Communities in Africa. States may be a part of more
than one community after the African Continental Free Trade Area agreement (AfCFTA), which
was established on the 21st of March, 2018 (Economic Affairs Department, 2019). While these
communities allow for free-trade similar to how NAFTA function in the U.S., only one economic
community has begun integrating to a single currency: The East African Community.
In most RECs of the AU, there are policies in place that allow workers from one member
country to work in another if they apply for the proper passport (Migration Policy Framework for
Africa and Plan of Action, 2018). However, those agreements are only in place between
members of the specific REC the country is joined with, not the whole of Africa. The AU hopes
to further integrate to avoid the Brain Drain affect—where skilled labor moves out of the country
or continent to a different economy where they can make a better living (Economic Affairs
Department, 2019).</p>

<p>While both continental organizations have strong historical roots and have worked
towards similar goals, they both face different problems and have different successes.</p>

<span id="sources">Sources</span>
<p>Anonymous. (2016a, June 16). The history of the European Union [Text]. Retrieved November
18, 2019, from European Union website: <a href="https://europa.eu/european-union/about-eu/history_en">https://europa.eu/european-union/about-eu/history_en</a></p>
<p>Anonymous. (2016b, July 5). The euro [Text]. Retrieved November 18, 2019, from European
Union website: <a href="https://europa.eu/european-union/about-eu/euro_en">https://europa.eu/european-union/about-eu/euro_en</a></p>
<p>Boswell, C. (2003). The “External Dimension” of EU Immigration and Asylum Policy.
International Affairs, 79(3), 619–638.</p>
<p>D’Sa, R. M. (1983). The Lagos Plan of Action—Legal Mechanisms for Co-operation between
the Organisation of African Unity and the United Nations Economic Commission for
Africa. Journal of African Law, 27(1), 4–21. Retrieved from JSTOR.</p>
<p>Economic Affairs Department. (2019, March). African Integration Booklet. African Union
Comission.</p>
<p>Lipsmeyer, C. S., & Zhu, L. (2011). Immigration, Globalization, and Unemployment Benefits in
Developed EU States. American Journal of Political Science, 55(3), 647–664. Retrieved
from JSTOR.</p>
<p>Migration Policy Framework for Africa and Plan of Action (2018 – 2030). (2018). 108.
Muhammad, G. (2013). From the OAU to The AU. Gambia: Fulladu Publishers.
Padelford, N. J. (1964). The Organization of African Unity. International Organization, 18(3),
521–542. Retrieved from JSTOR.</p>
<p>Pirozzi, N., & Manager, I. R. (n.d.). The Joint Africa-EU Strategy. 54.
Regional Coordination Mechanism for Africa. (2015, March). Framework for a Renewed
UN/AU Partnership on Africa’s Integration and Development Agenda 2017-2027. The
African Union.</p>
<p>STAS, M. (2019, January 31). EU citizenship [Text]. Retrieved November 18, 2019, from
European Union website: <a href="https://europa.eu/european-union/about-eu/eu-citizenship_en">europa.eu/european-union/about-eu/eu-citizenship_en</a>
World Economic Outlook (October 2019)—GDP, current prices. (n.d.). Retrieved November 18,
2019, from <a href="https://www.imf.org/external/datamapper/NGDPD@WEO">www.imf.org/external/datamapper/NGDPD@WEO</a></p>
</div>
  </body>
</html>
